# Set some tables and vars
ext_ip_4 = "LISTEN_IP"
ext_ip_6 = "LISTEN_IPv6"
ssh_admin = "SSH_ADMIN"
icmp_types = "{ echoreq, unreach }"

# Set options
set block-policy drop
set skip on { lo, tun0 }

# General rules
block in all
pass out all

# normalise traffic, if you see connection problems comment out this rule and reload pf
match in all scrub (no-df random-id reassemble tcp)

# spoofing protection on all interfaces
block in quick from urpf-failed

# allow PathMTU
pass inet proto icmp all icmp-type $icmp_types

# Some ipv6 madness (see: https://home.nuug.no/~peter/pf/newest/icmp6.html):

## allow icmp6 for getting address using IPv6 autoconfiguration from router
pass inet6 proto ipv6-icmp all icmp6-type routeradv
pass inet6 proto ipv6-icmp all icmp6-type routersol

## allow icmp6 for getting neighbor addresses
pass inet6 proto ipv6-icmp all icmp6-type neighbradv
pass inet6 proto ipv6-icmp all icmp6-type neighbrsol

## allow icmp6 echo, not required, but sometimes nice
pass in inet6 proto ipv6-icmp all icmp6-type echoreq

## pass icmp-types: unreachable, time exceeded, parameter problem
pass in inet6 proto ipv6-icmp all icmp6-type {1 3 4}

# Allow OpenVPN on port 53
pass in on {{ ifname.stdout }} inet proto udp to $ext_ip_4 port 53

# Allow SSH from known hosts
pass in on {{ ifname.stdout }} proto tcp from $ssh_admin to any port 22

# NAT from OpenVPN net
pass out on {{ ifname.stdout }} from 172.17.200.0/24 to any nat-to $ext_ip_4
