ext_ip_4 = "LISTEN_IP"
ext_ip_6 = "LISTEN_IPv6"

set skip on lo

block return    # block stateless traffic
pass            # establish keep-state

# normalise traffic, if you see connection problems comment out this rule and reload pf
match in all scrub (no-df)

# spoofing protection on all interfaces
block in quick from urpf-failed

# forward scrambled traffic from port 443 to 8443
pass in on egress proto tcp from any to any port 443 rdr-to $ext_ip_4 port 8443

# NAT from OpenVPN net
pass out on {{ ifname.stdout }} from 172.17.200.0/24 to any nat-to $ext_ip_4
pass out on {{ ifname.stdout }} from 172.16.200.0/24 to any nat-to $ext_ip_4
